{% extends 'base.html' %}
{% block title %}title{% endblock %}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col s12 m10">
            {%for p in posts %}

            <h3>{{p.title}}</h3>

            <p>{{p.cat.title}}</p>

            <img src="/media/{{p.images}}">
            <br>
            <p>{{p.content |safe}}</p>
            {%endfor%}

        </div>
        <div class="col s12 m10">
            <div class="row1"  >
                <div class="col" style="margin-left: 300px; gap: 40px; margin-top: 20px; margin-bottom: 30px;">
                  {% for cat in cats %}
                  <div class="card" >
                      <img src="/media/{{cat.images}}" class="img-thumbnail" style="height: 200px; width: 400px;">
                      <h3 style="font-size: 20px;">{{cat.title}}</h3>
                      <p style="font-size: 12px;">{{cat.description}}</p>
                    
                          <a href="/category/{{cat.url}}" ><button type="button" class="btn btn-success">view more</button></a>
      
                  </div>
                  {% endfor%}
                </div>
              
              </div>
        </div>
    </div>
</div>

{%endblock%}